<% extends '/template/base/common-template' %>
<% block content %>
<$ super() $>

        <section class="section" id="about-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-12 col-md-12 text-center">
                    <div class="section-heading">
                        <p class="h5 subtitle">
                            Why choose us
                        </p>
                        <h1>Lorem Ipsum</h1>
                        <p>Numquam doloribus impedit at consectetur molestiae tempora ratione possimus in veniam aperiam, eum consequuntur, unde. Earum ullam molestiae suscipit saepe sunt recusandae.</p>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="about-2-img">
                        <img src="<% url('/asset/img/about-us-02.jpg') %>" alt="" class="about-img-md img-fluid"> 

                        <div class="about-2-img2">
                            <img src="<% url('/asset/img/about-us-01.jpg') %>" alt="" class="about-img-sm img-fluid">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="about-box-2">
                        <div class="about-block">
                            <span><i class="fas fa-rocket"></i></span>
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                            <p>Enim doloribus omnis sit, voluptatum. Maxime laboriosam, sequi animi ut accusantium est, quo doloremque unde. </p>
                        </div>

                        <div class="about-block">
                            <span><i class="fas fa-chart-bar"></i></span>
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                            <p>Enim doloribus omnis sit, voluptatum. Maxime laboriosam, sequi animi ut accusantium est, quo doloremque unde. </p>
                        </div>

                        <div class="about-block">
                            <span><i class="fas fa-building"></i></span>
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                            <p>Enim doloribus omnis sit, voluptatum. Maxime laboriosam, sequi animi ut accusantium est, quo doloremque unde. </p>
                        </div>

                        <div class="about-block">
                            <span><i class="fas fa-store"></i></span>
                            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
                            <p>Enim doloribus omnis sit, voluptatum. Maxime laboriosam, sequi animi ut accusantium est, quo doloremque unde. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<% endblock %>