<% extends '/template/base/common-template' %>
<% block content %>
<$ super() $>

<section class="section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-12 col-md-12 text-center">
                <div class="section-heading">
                    <h1>February 2019</h1>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center events-box m-3">
            <div class="col-sm-4 col-md-4 text-center">
                <img src="<% url('/asset/img/deals/deals04.png') %>" alt="" class="img-fluid">
            </div>
            <div class="col-sm-8 col-md-8">
                <h2 class="text-uppercase events-title">Lorem Ipsum</h2>
                <h4>March 2 @ 11:00 am - 5:00 pm</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                <a href="#" class="text-danger font-italic">Find out more</a>
            </div>
        </div>
        
        <div class="row justify-content-center events-box m-3">
            <div class="col-sm-4 col-md-4 text-center">
                <img src="<% url('/asset/img/deals/deals01.png') %>" alt="" class="img-fluid">
            </div>
            <div class="col-sm-8 col-md-8">
                <h2 class="text-uppercase events-title">Lorem Ipsum</h2>
                <h4>March 2 @ 11:00 am - 5:00 pm</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                <a href="#" class="text-danger font-italic">Find out more</a>
            </div>
        </div>
        
        <div class="row justify-content-center events-box m-3">
            <div class="col-sm-4 col-md-4 text-center">
                <img src="<% url('/asset/img/deals/deals03.png') %>" alt="" class="img-fluid">
            </div>
            <div class="col-sm-8 col-md-8">
                <h2 class="text-uppercase events-title">Lorem Ipsum</h2>
                <h4>March 2 @ 11:00 am - 5:00 pm</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                <a href="#" class="text-danger font-italic">Find out more</a>
            </div>
        </div>

    </div>
</section>


<% endblock %>