<% extends '/template/base/common-template' %>
<% block content %>
<$ super() $>


        
        <section class="section" id="case-study">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-12 col-md-12 text-center">
                    <div class="section-heading">
                        <p class="h5 subtitle">
                            Latest News
                        </p>
                        <h1>Lorem Ipsum</h1>
                        <p>Numquam doloribus impedit at consectetur molestiae tempora ratione possimus in veniam aperiam, eum consequuntur, unde. Earum ullam molestiae suscipit saepe sunt recusandae.</p>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row align-items-center case-box">
                        <div class="col-lg-5">
                            <div class="case-block">
                                <img src="<% url('/asset/img/news/news01.png') %>" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="case-content">
                                <h3>The Story Behind Jimmy Kimmel and Pizza Legend Chris Bianco’s Food-Fueled Friendship</h3>
                                <p>The late-night host sought out the chef for his highly-praised pizza and ended up with a lifelong friendship.</p>
                                <a href="http://people.com/food/jimmy-kimmel-chris-bianco-friends-pizza-cookbook/" target="_blank" class="text-red"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  /CASE END-->

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row align-items-center case-box">
                        <div class="col-lg-5">
                            <div class="case-block">
                                <img src="<% url('/asset/img/news/news02.png') %>" alt="" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="case-content">
                                <h3>F21 and Orvis join The Shops at Town & Country – azcentral</h3>
                                <p>Midtown Phoenix shoppers soon will have more retail and restaurant choices at The Shops at Town & Country.</p>
                                <a href="https://www.azcentral.com/story/money/business/2015/07/10/new-businesses-town-country/29980737/" target="_blank" class="text-red"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>

                            </div>
                        </div>
                    </div>
                </div>
                <!--  /CASE END-->

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row align-items-center case-box">
                        <div class="col-lg-5">
                            <div class="case-block">
                                <img src="<% url('/asset/img/news/news03.png') %>" alt="" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="case-content">
                                <h3>2016 Best New Restaurants (featuring Tratto) – Phoenix Magazine</h3>
                                <p>"Nothing is perfect,” or so the saying goes, but Chris Bianco’s latest endeavor, a bright, ethereal...</p>
                                <a href="http://www.phoenixmag.com/food-reviews/2016-best-new-restaurants.html" target="_blank" class="text-red"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row align-items-center case-box">
                        <div class="col-lg-5">
                            <div class="case-block">
                                <img src="<% url('/asset/img/news/news05.png') %>" alt="" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="case-content">
                                <h3>2016 Most Anticipated Restaurant Openings (featuring Tratto) – azcentral</h3>
                                <p>Given the incredible number of restaurants that have opened in the Valley this season, it’s hard to believe...</p>
                                <a href="https://www.azcentral.com/story/entertainment/dining/dominic-armato/2016/03/23/most-anticipated-restaurants-phoenix-2016/81779648/" target="_blank" class="text-red"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row align-items-center case-box">
                        <div class="col-lg-5">
                            <div class="case-block">
                                <img src="<% url('/asset/img/news/news06.png') %>" alt="" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="case-content">
                                <h3>Tratto opens at the Shops at Town & Country</h3>
                                <p>The world knows Chris Bianco can make a pizza. But can the Valley embrace him when he doesn't?...</p>
                                <a href="https://www.azcentral.com/story/entertainment/dining/dominic-armato/2016/05/03/tratto-restaurant-opening-chris-bianco-phoenix/83821572/" target="_blank" class="text-red"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row align-items-center case-box">
                        <div class="col-lg-5">
                            <div class="case-block">
                                <img src="<% url('/asset/img/news/news07.png') %>" alt="" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="case-content">
                                <h3>20 Years in, Chris Bianco is still America’s best pizza maker!</h3>
                                <p>Pizzeria Bianco and I go back nearly 20 years. In 1996 I was a couple of years out of college...</p>
                                <a href="https://www.eater.com/2015/3/10/8155543/pizzeria-bianco-best-pizza-america" target="_blank" class="text-red"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>

                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row align-items-center case-box">
                        <div class="col-lg-5">
                            <div class="case-block">
                                <img src="<% url('/asset/img/news/news04.png') %>" alt="" class="img-fluid">
                            </div>
                        </div>
                
                        <div class="col-lg-7">
                            <div class="case-content">
                                <h3>Pizzeria Bianco Named One of the Best Pizza’s in America</h3>
                                <p>Most of us love our pizza - and love debating where to get the best. Whether we buy it at a local eatery...</p>
                                <a href="https://www.cbsnews.com/news/best-pizzas-in-america-named/" target="_blank" class="text-red"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row align-items-center case-box">
                        <div class="col-lg-5">
                            <div class="case-block">
                                <img src="<% url('/asset/img/news/news08.png') %>" alt="" class="img-fluid">
                            </div>
                        </div>
                
                        <div class="col-lg-7">
                            <div class="case-content">
                                <h3>6 Chefs Who Changed Pizza (including our own Chris Bianco)</h3>
                                <p>Pizza hasn’t always been a favorite in the U.S. People brought the traditions from Italy, molding them to fit American...</p>
                                <a href="http://www.zagat.com/b/5-chefs-who-changed-pizza" target="_blank" class="text-red"><h5>Read more <i class="fas fa-angle-double-right"></i></h5></a>
                
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
            </div>
        </div>
    </section>
        
        
        
        



<% endblock %>