<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<section class="logo-section"style="padding: 40px">
    <div class="container">
        <a href="directory">
        <div class="customer-logos slider">
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo01.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo02.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo03.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo04.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo05.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo06.png') %>" alt="" class="img-fluid"></div>

            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo01.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo02.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo03.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo04.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo05.png') %>" alt="" class="img-fluid"></div>
            <div class="slide"><img src="<% url('/asset/img/stores-logo/logo06.png') %>" alt="" class="img-fluid"></div>

        </div>
        </a>
    </div>
</section>