
<html>
	<head>
	    
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="<% url('/asset/img/favicon.png') %>"/>
        <link rel="stylesheet" href="<% url('/asset/css/bootstrap.min.css') %>">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="<% url('/asset/css/all.css') %>">
        <link rel="stylesheet" href="<% url('/asset/css/style.css') %>">
        <link rel="stylesheet" href="<% url('/asset/css/responsive.css') %>">
        <title>Town and Country Shops | <$ page_title $></title>

		<# <link rel="stylesheet" type="text/css" href="<% url('/asset/css/map/style.css') %>"> #>
		<link rel="stylesheet" type="text/css" href="<% url('/asset/css/map/mapplic.css') %>">
		<style>
		    .mapplic-clickable:not(g), g.mapplic-clickable > * {
                opacity: 0.9;
                fill: transparent;

            }
            .mapplic-fullscreen {
                background-color: rgb(248, 248, 248)!important;
            
            }
		</style>
	</head>
	<body class="top-header"> 
	
	 <% include('/block/base/main-header') %>
	 
    	<section class="page-title  page-title-bg">
            <# Title  #>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-7 text-center ">
                        <div class="page-title-content">
                            <h4 class="display-5 text-white">
                                <$ page_title $>
                            </h4>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	
		<div id="wrap">
			<div id="content">
			    <% block content %><% endblock %>
		
			</div>
		</div>
		<% include('/block/base/footer') %>
		
		
    	<# Global JS #>
        <script src="<% url('/asset/js/jquery.min.js') %>"></script>
        <script src="<% url('/asset/js/popper.min.js') %>"></script>
        <# Plugins JS #>
        <script src="<% url('/asset/js/bootstrap.min.js') %>"></script>
        <# Slick JS #>
        <script src="<% url('/asset/js/jquery.easing.1.3.js') %>"></script> 
        <script src="<% url('/asset/js/slick.min.js') %>"></script> 
        <# Theme JS #>
        <script src="<% url('/asset/js/theme.js') %>"></script> 

		<# Interactive Map #>
		<script type="text/javascript" src="<% url('/asset/js/map/jquery.min.js') %>"></script>
		<script type="text/javascript" src="<% url('/asset/js/map/hammer.min.js') %>"></script>
		<script type="text/javascript" src="<% url('/asset/js/map/jquery.mousewheel.js') %>"></script>
		<script type="text/javascript" src="<% url('/asset/js/map/script.js') %>"></script> 
		<script type="text/javascript" src="<% url('/asset/js/map/csvparser.js') %>"></script>
		<script type="text/javascript" src="<% url('/asset/js/map/mapplic.js') %>"></script> 
		<script type="text/javascript">
			$(document).ready(function() {
				var mapplic = $('#mapplic').mapplic({
					source: '<% url('/asset/js/radp.json') %>', 
					sidebar: true, 			// Enable sidebar
					height: 500,
					minimap: false,
					marker: 'hidden', 		// Disable markers
					fillcolor: false, 		// Disable default fill color
					fullscreen: true, 		// Enable fullscreen 
					thumbholder: false,
					hovertip: true,
					maxscale: 3,
					alphabetic: true,
					developer: true         // After I've done the map of Town and Country 
				});
			});
		</script>
	</body>
</html>
