<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="<% url('/asset/img/favicon.png') %>"/>
    <link rel="stylesheet" href="<% url('/asset/css/bootstrap.min.css') %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="<% url('/asset/css/all.css') %>">
    <link rel="stylesheet" href="<% url('/asset/css/style.css') %>">
    <title>Town and Country Shops  | <$ page_title $></title>
    
</head>

<body class="top-header">
    <% include('/block/base/main-header') %>
    
    <% block content %><% endblock %>
    
    <% include('/block/base/footer') %>
    



    <#  Page Scroll to Top  #>
    <a class="scroll-to-top js-scroll-trigger" href=".top-header">
        <i class="fa fa-angle-up"></i>
    </a>

    <# JAVASCRIPT #>
    
    <# Global JS #>
    <script src="<% url('/asset/js/jquery.min.js') %>"></script>
    <script src="<% url('/asset/js/popper.min.js') %>"></script>
    <# Plugins JS #>
    <script src="<% url('/asset/js/bootstrap.min.js') %>"></script>
    <# Slick JS #>
    <script src="<% url('/asset/js/jquery.easing.1.3.js') %>"></script> 
    <script src="<% url('/asset/js/slick.min.js') %>"></script> 
    <# Theme JS #>
    <script src="<% url('/asset/js/theme.js') %>"></script>
    <# Slick Slider #>
    <script src="<% url('/asset/js/slick-slider.js') %>"></script> 

</body>

</html>