
<html>
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<title>Test Map</title>

		<!-- Viewport for Responsivity -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="<% url('/asset/css/map/style.css') %>">
		<link rel="stylesheet" type="text/css" href="<% url('/asset/css/map/mapplic.css') %>"> 
	</head>
	<body>
		<div id="wrap">

			<header id="header">
				<div class="inner">


					<h1>Town and Country</h1>

					<div class="clear"></div>
				</div>
			</header>

			<div id="content">
				
				<section id="map-section" class="inner over">
					<div class="editor-window">
						<div class="editor-body">
							<code>
								{<br>
								&nbsp;&nbsp;&nbsp;"id": "newlandmark",<br>
								&nbsp;&nbsp;&nbsp;"title": "New Landmark",<br>
								&nbsp;&nbsp;&nbsp;"description": "Creating a new landmark is that easy!",<br>
								&nbsp;&nbsp;&nbsp;"x": "<span class="mapplic-coordinates-x">0.0000</span>",<br>
								&nbsp;&nbsp;&nbsp;"y": "<span class="mapplic-coordinates-y">0.0000</span>",<br>
								&nbsp;&nbsp;&nbsp;...<br>
								}
							</code>
						</div>
					</div>

					<div class="map-container">
						<div id="mapplic"></div>
					</div>

					

					
				</section>



			</div>


		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="<% url('/asset/js/map/jquery.min.js') %>"></script>
		<script type="text/javascript" src="<% url('/asset/js/map/hammer.min.js') %>"></script>
		<script type="text/javascript" src="<% url('/asset/js/map/jquery.mousewheel.js') %>"></script>
		<script type="text/javascript" src="<% url('/asset/js/map/script.js') %>"></script> 
		<script type="text/javascript" src="<% url('/asset/js/map/csvparser.js') %>"></script>
		<script type="text/javascript" src="<% url('/asset/js/map/mapplic.js') %>"></script> 
		<script type="text/javascript">
			$(document).ready(function() {
				var mapplic = $('#mapplic').mapplic({
					source: '<% url('/asset/js/radp.json') %>', 
					sidebar: true, 			// Enable sidebar
					height: 500,
					minimap: false,
					marker: 'hidden', 		// Disable markers
					fillcolor: false, 		// Disable default fill color
					fullscreen: true, 		// Enable fullscreen 
					developer: false,
					thumbholder: true,
					maxscale: 3,
					developer: true
				});
			});
		</script>
	</body>
</html>
